@keyframes slideDown {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.6s ease forwards;
  }
  
  .navbar .logo {
    height: 50px;
    width: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    font-size: 16px;
  }
  
  .nav-links a {
    color: #00A4D9; /* Dark blue */
    font-weight: 600;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #E0F2F1;
    color: #004D40; /* Darker shade */
  }
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #018d7c;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
/* Responzivni dizajn */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: white;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    animation: slideDown 0.6s ease forwards;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li {
    font-size: 18px;
  }

  .nav-links a {
    font-size: 18px;
  }
}
  /* Footer */
  .footer {
    background-color: #00A4D9;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
    
  .footer p {
    margin-top: 20px;
    font-size: 14px;
  }
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #E0F7FA;
  }
